$max-width: 850;
$min-width: 320;

$background-color: #262626;
$raised-background: #313131;
$pure-background: #000;
$input-background: #235a97;
$input-background-active: #358ef1;
$btn-color: #3178c6;
$text-light: #f0f0f0;
$text-dark: #0c0c0c;
$link-color: #719af4;
$disabled-color: #858383;
