@import '_variables';
@import 'app';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap&subset=cyrillic-ext');

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: $text-light;
}
body {
  background: #262626;
}
input,
select,
a {
  border: none;
  text-decoration: none;
  background-color: transparent;
  outline: none;
}
input:focus-visible {
  outline-offset: 0px;
  outline-width: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
button {
  position: relative;
  border: none;
  padding: 0;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
